@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ap13bq');
  src:  url('fonts/icomoon.eot?ap13bq#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ap13bq') format('truetype'),
    url('fonts/icomoon.woff?ap13bq') format('woff'),
    url('fonts/icomoon.svg?ap13bq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-checkmark:before {
  content: "\ea10";
}
